<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}base.html.twig{% endblock %}</title>
    <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('controllers/main.css') }}">
    {% endblock %}

    {% block javascripts %}
        <script src="{{ asset('controllers/main.js') }}"></script>
    {% endblock %}
</head>
<body>
    

    <nav>
        <ul>
            <li><a href="{{ path('app_about') }}">À propos</a></li>
            <li><a href="{{ path('app_category') }}">Catégorie</a></li>
            <li><a href="{{ path('app_contact') }}">Contact</a></li>
            <li><a href="{{ path('app_homepage') }}">Accueil</a></li>
            <li><a href="{{ path('app_single_post') }}">Post Simple</a></li>
             <li><a href="{{ path('app_test') }}">Test</a></li>
            <li><a href="{{ path('app_starter') }}">Démarrer</a></li>
        </ul>
    </nav>

    <main>
        {% block body %}{% endblock %}
    </main>

    {% block footer %}
        <footer>
            <p>&copy; {{ "now"|date("Y") }} Votre Nom ou Entreprise</p>
        </footer>
    {% endblock %}
</body>
</html>